<%include ./partials/header%>
<h1>Index page</h1>

<%blogs.forEach(function(blog){%>
    <h2><%= blog.title %></h2>
    <img src="<%=blog.image%>">
    <p><%=blog.body.substring(0, 200)%>...</p>
    <span><%=blog.created.toDateString()%></span>
    <a href="/blogs/<%=blog._id%>">Read More</a>
<%})%>
<%include ./partials/footer%>