<%include ../partials/header%>

<%posts.forEach(function(post){%>
    <div class="ui raised very padded text container segment" id="main-body">
        <div class="content">
            <span><%=post.created.toLocaleDateString("en-US");%></span>
        </div>
        <h2 class="ui header"><%= post.title %></h2>
        <img class="ui medium image" src="<%=post.image%>">
        <div class="description">
            <p><%=post.body.substring(0, 170)%>...</p>
        </div>
        <a class="ui green inverted button" href="/blogs/<%=post._id%>">Read More</a>
    </div>
<%})%>
<%include ../partials/footer%>