<%include ../partials/header%>
<div class="ui raised very padded text container segment" id="main-body">
    <div class="ui tiny header"><span><%=post.created.toLocaleDateString("en-us")%></span></div>
    <div class="ui large header"><%= post.title%></div>
    <img class="ui medium image" src="<%=post.image%>">
    <div class="content">
        <div class="description"><p><%-post.body%></p></div>
        <a class="ui orange inverted button" href="/posts/<%=post._id%>/comments/new">New Comment</a> 
        <a class="ui yellow inverted button" href="/posts/<%=post._id%>/edit">Edit</a>
        <form id="delete-button" class="ui form" action="/posts/<%=post._id%>?_method=DELETE" method="POST">
            <button class="ui red inverted button">Delete</button>
         </form>
    </div>
</div>
<div class="ui comments centered" id="comments">
    <h3 class="ui dividing header">Comments</h3>
    <%post.comments.forEach(function(comment) {%>
        <div class="comment">
            <div class="content">
                <a class="author"><%=comment.author%></a>
                <div class="metadata">
                    <span class="date"><%=comment.created.toLocaleDateString("en-us")%></span>
                </div>
                <div class="text"><%-comment.text%></div>
                <div class="actions">
                    <a class="reply">Reply</a>
                </div>
            </div>
        </div>
    <%})%>
    <form class="ui reply form">
        <div class="field">
            <textarea></textarea>
        </div>
        <div class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Add Reply
        </div>
    </form>
</div>
<%include ../partials/footer%>